.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-family: 'Nyala', sans-serif;
  background-color: #fffafa; /* Snow background */
}
h1 {
  color: #006400; /* Green */
}
label {
  color: #0000ff; /* Blue */
}
input[type="text"], textarea, select {
  border: 1px solid #ffd700; /* Golden */
  border-radius: 5px;
  padding: 5px;
}
button {
  background-color: #006400; /* Green */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #004d00; /* Darker Green */
}
input[type="text"], textarea, select {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
button {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}